body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.first-page {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/TheaterBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.header-logo {
  width: 150px;
  height: 150px;
}

.navbar {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-top: -2.5rem;
}

.navbar a {
  text-decoration: none;
  color: #d4d4d4;
  position: relative;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #1984ff;
  transition: width 0.3s ease;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar button {
  font-size: 1.1rem;
  border: none;
  padding: 6px 12px;
  background-color: #1984ff;
  color: white;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar button:hover {
  background-color: #0f5fcc;
  transform: scale(1.05);
  cursor: pointer;
}

.main-logo-h1 {
  display: block;
  flex-direction: column;
  justify-self: center;
  padding: 0;
  margin: 0;
}

main h1 {
  color: white;
  margin-top: -3rem;
  font-weight: 600;
  font-size: 3rem;
}

.main-logo {
  display: flex;
  justify-self: center;
  width: 20rem;
  margin-top: -4rem;
}

.social-logo {
  margin: 50px;
  gap: 10px;
}

.social-logo img {
  width: 50px;
  transition: all 0.3s ease;
  border-radius: 50%;
  margin-top: 7rem;
}

.social-logo img:hover {
  transform: translateY(-8px) scale(1.1);
  box-shadow: 0 0 15px #1984ff;
  cursor: pointer;
}
